*{
    margin:0;
    padding:0;
}

body{
    background-color: white;
    margin-bottom: 0;
}

header{
    background-color: #83E2FF;
    width: 100vw;
    height:15vh;
    margin-bottom: 10px;
}

nav{
    background-color: #83E2FF;
    height:5vh;
    width: 100vw;
    margin-bottom: 10px;
    ul{
        display: flex;
        justify-content: flex-start;
        a{
            li{
                list-style: none;
                color:white;
            }
            text-decoration: none;
        }
    }
}
main{
    min-height: 70vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.verticalBanner{
    background-color: #83E2FF;
    margin: 1vh 0;
    width: 20vw;
    height: 46vh;
}

.standardCard{
    background-color: #83E2FF;
    margin: 1vh 0;
    width: 20vw;
    height: 22vh;
}
.fillingContainer{
    width: 94%;
    height: 10vh;
    background-color: #83E2FF;
}
 .container{
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
 }

 footer{
    background-color: #83E2FF;
    height:10vh;
    margin: 3vh 0 0 0;
 }

